body{
font-family: 'Poppins', sans-serif;
margin: 0;
}

#graph{
  background-color: whitesmoke;
}

.header-box{
  padding: 1rem 0 1rem 10%;
  display: flex;
  box-shadow: 4px 2px 8px #c7c5c5;
  z-index: 1000;
  position: relative;
  background-color: white;
}

.title{
margin: 0;
}

.sub-title{
  margin: 0;
      font-size: 0.8em;
      font-weight: 100;
      max-width: 300px;
}


.legend{
/* display: flex; */
/* align-items: center;
justify-content: center; */
margin: 1rem 0;
}

.legend-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  float: left;
  width: 20px;
  height: 20px;
  margin: 0.5rem;
  box-shadow: 4px 2px 8px #c7c5c5;
}

.legend-color{
display: flex;
text-align: center;
align-items: center;
margin: 0 1rem;

}

label{
  font-size: 0.8rem;
}

.svg-container {
    display: block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; /* aspect ratio */ */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: block;
    position: relative;
    /* top: 10px;
    left: 0; */
}

.circle {
	width: 5px;
	height: 5px;
	background: grey;
  border: solid grey 1px ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 50%;
  display: inline-block;
  margin: 1rem 1rem 0 2rem;
  box-shadow: 4px 2px 8px #c7c5c5;
}

.rarity-label{
  display: block;
    margin: 0rem 0.5rem 0 1rem;
    font-size: 0.7em;

}
